In [1]:
def sub(x,y):
    return x-y
a = sub(200,100)
print("200 - 100 = ",a)

200 - 100 =  100

In [2]:
sub = lambda x,y : x - y
print("200 - 100 = ",sub(200,100))

200 - 100 =  100

In [13]:
n_list = [1,2,3,4,5,6,7,8,9]
even_list = []
for a in filter(lambda x : x % 2 == 0, n_list):
    even_list.append(a)
print("even_list = ",even_list)
even_list = list(filter(lambda x : x % 2 == 0,n_list))
print("even_list = ",even_list)


odd_list = []
for a in filter(lambda x : x % 2 != 0, n_list):
     odd_list.append(a)
print("odd_list = " ,odd_list)
odd_list = list(filter(lambda x: x % 2 != 0, n_list))
print("odd_list = " ,odd_list)

even_list =  [2, 4, 6, 8]
even_list =  [2, 4, 6, 8]
odd_list =  [1, 3, 5, 7, 9]
odd_list =  [1, 3, 5, 7, 9]

In [16]:
a_list = ['a', 'b', 'c', 'd']
def to_upper(x):
    return x.upper()
upper_a_list = list(map(to_upper,a_list))
print("upper_a_list = ",upper_a_list)
upper_a_list = list(map(lambda x : x.upper(), a_list))
print("upper_a_list = ",upper_a_list)

upper_a_list =  ['A', 'B', 'C', 'D']
upper_a_list =  ['A', 'B', 'C', 'D']

In [18]:
n_list = [10,20,30]
def twice(x):
    return x*2
def triple(x):
    return x*3
twice_list = list(map(twice,n_list))
triple_list = list(map(triple,n_list))
print("입력 값의 두 배: ",twice_list)
print('입력 값의 세 배: ',triple_list)
twice_list = []
triple_list =[]
twice_list = list(map(lambda x : x*2,n_list))
triple_list = list(map(lambda x: x*3,n_list))
print("입력 값의 두 배: ",twice_list)
print('입력 값의 세 배: ',triple_list)

입력 값의 두 배:  [20, 40, 60]
입력 값의 세 배:  [30, 60, 90]
입력 값의 두 배:  [20, 40, 60]
입력 값의 세 배:  [30, 60, 90]

In [27]:
from functools import reduce
list1 = []
for i in range(1,101):
    list1.append(i)
n = reduce(lambda x,y: x+y,list1)
print("1에서 100까지의 합 : ",n)

1에서 100까지의 합 :  5050

In [28]:
list1 = []
for i in range(1,11):
    list1.append(i)
n = reduce(lambda x,y : x * y,list1)
print("10! = ",n)

10! =  3628800

In [29]:
cubic = [x**3 for x in range(1,11)]
print("cubic = ",cubic)

cubic =  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [31]:
a = ['welcome', 'to', 'the', 'python', 'world']
print("a = ",a)
first_a = [x[0] for x in a]
print("first_a = ",first_a)

a =  ['welcome', 'to', 'the', 'python', 'world']
first_a =  ['w', 't', 't', 'p', 'w']

In [33]:
cubic = [x**3 for x in range(1,11) if x <= 500]
print("cubic = ", cubic)

cubic =  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [34]:
st = 'Hello 1234 Python'
a = [x for x in st  if x.isdigit()]
print(a)

['1', '2', '3', '4']

In [54]:
class EvenCounter:
    def __init__(self,n = 0):
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        if self.n % 2 == 0:
            t = self.n
            self.n += 2
            return t
        raise StopIteration
my_even = EvenCounter()
print(my_even.__next__(), end = ' ')
print(my_even.__next__(), end = ' ')
print(my_even.__next__(), end = ' ')
print(my_even.__next__(), end = ' ')
print(my_even.__next__(), end = ' ')

0 2 4 6 8

In [50]:
class EvenCounter:
    def __init__(self,n = 0):
        self.n = n
    def __iter__(self):
        return self
    def __next__(self):
        if self.n % 2 == 0 and self.n <= 20:
            t = self.n
            self.n += 2
            return t
        raise StopIteration
my_even = EvenCounter()

for i in my_even:
    print(i, end = ' ')

0 2 4 6 8 10 12 14 16 18 20

In [55]:
txt = 'Welcome to Busan Metropolitan City.'
txt.split()

['Welcome', 'to', 'Busan', 'Metropolitan', 'City.']

In [56]:
greet = 'Hello, My name is DongMin,Good to see you again'
greet.split(',')

['Hello', ' My name is DongMin', 'Good to see you again']

In [57]:
fruits ='Apple|Banana|Melon|Orange'
fruits.split('|')

['Apple', 'Banana', 'Melon', 'Orange']

In [60]:
f1 = lambda x: x*x
print(type(f1))
def f2(x):
    return x*x
print(type(f2))

<class 'function'>
<class 'function'>

In [66]:
lyrics = 'Half of my heart is in Havana'
list1 = []
for i in lyrics.split():
    s = i.upper()
    t = (i,s)
    list1.append(t)
print(list1)
list1 =[]
list1 =[(x,x.upper()) for x in lyrics.split()]
print(list1)

[('Half', 'HALF'), ('of', 'OF'), ('my', 'MY'), ('heart', 'HEART'), ('is', 'IS'), ('in', 'IN'), ('Havana', 'HAVANA')]
[('Half', 'HALF'), ('of', 'OF'), ('my', 'MY'), ('heart', 'HEART'), ('is', 'IS'), ('in', 'IN'), ('Havana', 'HAVANA')]

In [75]:
n_list = [-22.3, 29.44, 902.2, 45.7, -887.1, -56.3]
print("n_list = ",n_list)
new_list = []
for i in n_list:
    if i >0:
        new_list.append(int(i))
print("new_list - ", new_list)
new_list2 = list(map(int,filter(lambda x : x>0, n_list)))
print("new_list2 - ", new_list2)
new_list3 = [int(x) for x in n_list if x > 0]
print("new_list3 = ",new_list3)

n_list =  [-22.3, 29.44, 902.2, 45.7, -887.1, -56.3]
new_list -  [29, 902, 45]
new_list2 -  [29, 902, 45]
new_list3 =  [29, 902, 45]

In [78]:
new_list  = []
for i in range(1,101):
    if i % 6 == 0 and i % 7 == 0:
        new_list.append(i)
print("new_list = ", new_list)
new_list1 = list(filter(lambda x : x% 6 == 0 and x%7 == 0, range(1,101)))
print("new_list1 = ",new_list1)
new_list3 = [x for x in range(1,101) if x % 6 == 0 if x % 7 == 0]
print("new_list3 = ",new_list3)

new_list =  [42, 84]
new_list1 =  [42, 84]
new_list3 =  [42, 84]

In [90]:
test_list = ['No. 224', 'No. 587', 'No. 29', 'No. 37']
num_list = []
for i in test_list:
    list1 = i.split()
    for j in list1:
        if j.isdigit():
            num_list.append(j)
print("num_list = ",num_list)
num_list1 = [y for x in test_list for y in x.split() if y.isdigit()]
print("num_list1 = ",num_list1)

num_list =  ['224', '587', '29', '37']
num_list1 =  ['224', '587', '29', '37']

In [98]:
a = [(2,5), (1,4), (4,7), (2,3), (2,1)]
print(sorted(a, key = lambda info : info[0]))
print(sorted(a, key = lambda info : info[1]))

[(1, 4), (2, 5), (2, 3), (2, 1), (4, 7)]
[(2, 1), (2, 3), (1, 4), (2, 5), (4, 7)]